page-works{


.transparent-header
{
    .toolbar-content,
    .back-button
    {
        color: black !important;
    }
}

.pins {
        column-count: 2;
        margin-left: -5vw;
        margin-right: 1vw;
        margin-top: -2vh;
    }


    .pin {
        display: inline-block;
        width: 100%;
    }

    .card {
        margin-top: 5px;
    }

    ion-avatar {
        margin: 0 !important;
    }

    .item ion-avatar img {
        width: 9vw ;
        height: 9vw;
    }

    .text {
    //font-size: 5vw; 
    text-align: center;
}

/*
.pins {
    column-count: 1;
    //margin-top: 1vh;
    margin-left: -2vw;
    margin-right: -4vw;
    margin-top: -2vh;
}

.text1 {
    margin: 0 auto 0;
}

.text {
    font-size: 5vw; 
    text-align: center;
}

.pin {
    width: 47%;
    max-height: 500px;
    min-height: 200px;
    display: inline-block;
    margin: 5px 1px 1px 5px;
}

ion-card {
    box-shadow: 0px 5px 10px rgba(87, 87, 87, 0.43) !important; 
}

ion-avatar {
    margin: 0 !important;
}

.item ion-avatar img {
    width: 9vw ;
    height: 9vw;
}


// Media queries
@media (min-width: 480px) {
    .pins {
        column-count: 3;
    }
    .item ion-avatar img {
        width:  7vw !important;
        height: 7vw !important;
    }
}

@media (min-width: 640px) {
    .pins {
        column-count: 4;
    }
    .item ion-avatar img {
        width:  5vw !important;
        height: 5vw !important;
        margin: 6px;
    }
}*/
}