
<ion-content padding class="transparent-header">
  <ion-header>
      <ion-navbar>
      </ion-navbar>
  </ion-header>
  <div class="pins">
    <ion-card class="pin" *ngFor="let produto of produtos" (click)="goToShow(produto.productorID)">
      <img src="{{produto.productImage}}"/>
      <div *ngIf="produto.productDescription" class="post-description">
        <small>{{ produto.productDescription }}</small>
      </div>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/img/avatar/marty-avatar.png">
        </ion-avatar>
        <small>{{ produto.productTitle }}</small>
        <p><small>{{ produto.productCategory }}</small></p>
      </ion-item>
    </ion-card>
  </div>
</ion-content>
