<ion-header >
  <ion-navbar >
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="userConfirm === false">Perfil de {{user.name}}</ion-title>
    <ion-title *ngIf="userConfirm === true">Meu Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div id="profile-bg" [ngStyle]="{'background-image': 'url(' + user.backgroundimage +')'}"></div>
  <div id="content">

    <div id="profile-info" padding>
      <img id="profile-image" [src]="user.avatar">
      <h3 id="profile-name">{{user.name}}</h3>
      <p>{{user.city}} &bull; {{user.state}}</p>
      <p class="profile-description">{{user.cellphone}}</p>  
      <!--<button ion-button *ngIf="!following" small color="purple" (click)="follow()">Follow</button>-->
      <div class="margin-top" *ngIf="userConfirm">
        <button ion-button color="dark" class="button-edit-posts" (click)="goToEditProfile()">
            <ion-icon name="md-brush"></ion-icon>
        </button>
    </div>
      <!--<button ion-button *ngIf="following" class="follow-button" small color="purple" (click)="follow()">Following<ion-icon name="checkmark"></ion-icon></button>-->
    </div>

    <hr/>

    <ion-row class="profile-numbers">
      <!--<ion-col>
        <p>Likes</p>
        <span>user.likes</span>
      </ion-col>-->
      <ion-col style="margin-left: 0vw;">
        <p>Posts</p>
        <span>user.posts</span>
      </ion-col>
    </ion-row>

    <div id="posts">
      <ion-card *ngFor="let produto of produtos">
        <img [src]="produto.productImage" onerror="">
        <ion-card-content>
          <h2 class="padding-title"><strong>{{produto.productTitle}}</strong></h2>
          <p>{{produto.productDescription}}</p>
        </ion-card-content>
        
        <ion-row>
          <ion-col col-4>
            <button ion-button color="purple" clear small icon-left (click)="like(post)">
                <ion-icon name='thumbs-up'></ion-icon>
                post.likes Likes
              </button>
          </ion-col>
          <ion-col col-5>
            <button ion-button no-padding color="purple" clear small icon-left (click)="comment(post)">
                <ion-icon name='text'></ion-icon>
                Conversar!
              </button>
          </ion-col>
          <ion-col col-3 align-self-center text-center *ngIf="userConfirm">
              <button ion-button color="dark" class="button-edit-posts" (click)="goToEditWork(produto._id)">
                  <ion-icon name="md-brush"></ion-icon>
              </button>
          </ion-col>
        </ion-row>
      </ion-card>
    </div>
  </div>
</ion-content>
