page-home{
    

.feltro
{
    position: relative;
    background-image: url('../assets/img/background/feltro');
    //border-radius: 20px;
    text-shadow: 0px 0px 10px #000000;  
    text-shadow: 0px 1px 5px #000000; 
    text-shadow: 0px 2px 2px #000000; 
    text-shadow: 1px 3px 2px #000000; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.biscuit
{
    position: relative;
    background-image: url('../assets/img/background/biscuit');
    //border-radius: 20px;
    text-shadow: 0px 0px 10px #000000;  
    text-shadow: 0px 1px 5px #000000; 
    text-shadow: 0px 2px 2px #000000; 
    text-shadow: 1px 3px 2px #000000;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.madeira
{
    position: relative;
    background-image: url('../assets/img/background/madeira');
    //border-radius: 20px;
    text-shadow: 0px 0px 10px #000000;  
    text-shadow: 0px 1px 5px #000000; 
    text-shadow: 0px 2px 2px #000000; 
    text-shadow: 1px 3px 2px #000000;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

.bordado
{
    position: relative;
    background-image: url('../assets/img/background/bordado');
    //border-radius: 20px;
    text-shadow: 0px 0px 10px #000000;  
    text-shadow: 0px 1px 5px #000000; 
    text-shadow: 0px 2px 2px #000000; 
    text-shadow: 1px 3px 2px #000000;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

.scrapbook
{
    position: relative;
    background-image: url('../assets/img/background/scrapbook');
    //border-radius: 20px;
    text-shadow: 0px 0px 10px #000000;  
    text-shadow: 0px 1px 5px #000000; 
    text-shadow: 0px 2px 2px #000000; 
    text-shadow: 1px 3px 2px #000000;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bookpopup
{
    position: relative;
    background-image: url('../assets/img/background/bookpopup2');
    //border-radius: 20px;
    text-shadow: 0px 0px 10px #000000;  
    text-shadow: 0px 1px 5px #000000; 
    text-shadow: 0px 2px 2px #000000; 
    text-shadow: 1px 3px 2px #000000;   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.corteecostura
{
    position: relative;
    background-image: url('../assets/img/background/corteecostura');
    //border-radius: 20px;
    text-shadow: 0px 0px 10px #000000;  
    text-shadow: 0px 1px 5px #000000; 
    text-shadow: 0px 2px 2px #000000; 
    text-shadow: 1px 3px 2px #000000; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

/*.decoupage
{
    position: relative;
    background-image: url('../assets/img/background/decoupage');
    //border-radius: 20px;
    text-shadow: 0px 0px 10px #000000;  
    text-shadow: 0px 1px 5px #000000; 
    text-shadow: 0px 2px 2px #000000; 
    text-shadow: 1px 3px 2px #000000;   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
} */

.patchwork
{
    position: relative;
    background-image: url('../assets/img/background/patchwork');
   // border-radius: 20px;
   text-shadow: 0px 0px 10px #000000;  
   text-shadow: 0px 1px 5px #000000; 
   text-shadow: 0px 2px 2px #000000; 
   text-shadow: 1px 3px 2px #000000;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pintura
{
    position: relative;
    background-image: url('../assets/img/background/pintura');
   // border-radius: 20px;
   text-shadow: 0px 0px 10px #000000;  
   text-shadow: 0px 1px 5px #000000; 
   text-shadow: 0px 2px 2px #000000; 
   text-shadow: 1px 3px 2px #000000; 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.reciclagem
{
    position: relative;
    background-image: url('../assets/img/background/reciclagem');
   // border-radius: 20px;
   text-shadow: 0px 0px 10px #000000;  
   text-shadow: 0px 1px 5px #000000; 
   text-shadow: 0px 2px 2px #000000; 
   text-shadow: 1px 3px 2px #000000;  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}


ion-card {
    position: relative;
    text-align: center;
    box-shadow: 2px 4px 10px rgba(87, 87, 87, 0.990) !important;
  }


  .card-title {
    //margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //margin-top: 40%;
    margin: 0 auto 0;
    //vertical-align: middle;
    font-size: 1.6em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    text-align: center;
  }


.category
{
    width: 47%;
    max-height: 140px;
    min-height: 140px;
    display: inline-block;
    margin: 5px 1px 1px 5px;
}

.pin {
    display: inline-block;
}


ion-avatar {
    margin: 0 !important;
}

.item ion-avatar img {
    width: 9vw ;
    height: 9vw;
}

.post-description {
    padding: 8px;
    border-bottom: 1px solid #eee;
}

// Media queries
@media (min-width: 480px) {
    .pins {
        column-count: 3;
    }
    .item ion-avatar img {
        width:  7vw !important;
        height: 7vw !important;
    }
}

@media (min-width: 640px) {
    .pins {
        column-count: 4;
    }
    .item ion-avatar img {
        width:  5vw !important;
        height: 5vw !important;
        margin: 6px;
    }
}
}