<!--<ion-header>
	<ion-navbar>
	  <ion-title>Chat</ion-title>
	</ion-navbar>
  </ion-header>
  <ion-content padding>
	<ion-list>
	  <ion-item>
		<ion-label floating>Mensagem</ion-label>
		<ion-input type="text" [(ngModel)]="mensagem"></ion-input>
	  </ion-item>
	  <ion-item>
		<button ion-button (click)="enviar()">Enviar</button>
	  </ion-item>
	  <ion-item *ngFor="let item of lista | async">
		<p>{{item.texto}}</p>
		<ion-note item-right>
		  {{item.data | date:'HH:mm'}}
		</ion-note>
	  </ion-item>
	</ion-list>
  </ion-content>-->

<ion-header>
	<ion-navbar>
		<ion-title>{{chatNome}}</ion-title>
	</ion-navbar>
</ion-header>
<ion-content>
	<div *ngIf="messages">
		<div  *ngFor="let item of messages" class="message-wrapper" on-hold="onMessageHold($event, $index, message)">
			<div *ngIf="item.senderID !== userID">
				<!--<img  class="profile-pic left" onerror="onProfilePicError(this)" />-->
				<!--  wave-->
				<div class="chat-bubble left slide-left">

					<div class="message" [innerHTML]="item.text" autolinker>
							
					</div>
					

				</div>
			</div>

			<div *ngIf="item.senderID === userID">

				<!--<img  class="profile-pic right"  onerror="onProfilePicError(this)" />-->

				<div class="chat-bubble right slide-right">

					<div class="message" [innerHTML]="item.text" autolinker>
							
					</div>
				

				</div>

			</div>

		</div>

		<div class="cf"></div>

	</div>
</ion-content>
<ion-footer>

		<ion-item>
			<ion-input type="text" [(ngModel)]="mensagem" placeholder="Send  a message..."></ion-input>
			<button ion-button clear (click)="sendMessage(mensagem)" item-end><ion-icon class="footer-btn" name="send"></ion-icon></button>
		</ion-item>

</ion-footer>
