page-search {

    @import url('https://fonts.googleapis.com/css?family=Roboto:300');

    .margin-bottom {
        margin-bottom: 8vh;
    }

    .background {
        background-image: linear-gradient(0deg, rgba(255, 255, 255, 0)), url('../../assets/img/background/s2.jpg');
        background-size: cover;
        background-position: left;
        background-repeat: no-repeat;
        
    }


    /*.background {
        background-color: rgba(255, 255, 255, 0.945); 
        background-image:url('../assets/img/background/artesanato.jpg');
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        
    }*/

    .input {
        margin-top: 5px;
    }

    ion-item {
        //margin-top: 7vh !important;
        border-radius: 15px !important;
        padding-left: 10px !important;
        //margin-bottom: 15px !important;
        //margin-bottom: 10px;
        color: black !important;
        background-color: rgba(255, 255, 255, 1) !important;
        //font-size: 0.9em;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 1) !important;
      }

    .ion-select {
        position: relative;
        margin: 0 auto 0;
    }

      ion-label {
        color: black !important;
      }

    .text
    {
        font-family: Roboto;
        font-size: 20px;
        text-shadow: -1px 2px 1px rgb(0, 0, 0) !important; 
        margin-bottom: 2vh;
        color: white;
    }

    ion-select {
        max-width: 100% !important;
    }    

    .margin
    {
        margin-top: 10vh;

    }

    .center
    {
        text-align: center;
        
    }

    .text-transform
    {
        font-size: 1.3em;
        letter-spacing: 1px;
        margin-top: 8vh;
    }



    .size
    {
        border-radius: 13px;
        height: 10vh;
        width: 40vw;
    }

    .buscar-button
    {
        background: linear-gradient(180deg, #ff2400, /*#e81d1d*/ #e8b71d, /*#e3e81d, #1de840, #1ddde8,*/ #621CD1, #dd00f3, #dd00f3);
        font-size: 0.9em;
        background-size: 1800% 1800%;
        animation: rainbow 8s linear infinite;
        //background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-color: transparent;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 1) !important; 
    }

    .icon-b {
        height: 20vh;
        margin-bottom: 2vh;
    }
}

.center {
    text-align: center;
}