<!--
  Generated template for the SignupPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--<ion-header>
 <ion-navbar>
    <ion-title>signup</ion-title>
    
  </ion-navbar>-->
  <!--<ion-title padding class="transparent-header"><p class="text-transform2">Inscreva-se</p></ion-title>
</ion-header>-->


<ion-content padding class="ion-content">
  
  <!--<ion-icon class="invert" name="ios-umbrella-outline" outline></ion-icon>-->
  <img  class="center icon-pb" src="assets/img/icon/icon-pb.png">
  <img  class="center written" src="assets/img/icon/written-p.png">
 
  <!--<p class="text-transform2">Inscreva-se</p>-->
  
  <ion-list>
    <ion-item>
      <ion-input type="text" [(ngModel)]='user.nome' placeholder="Nome"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="email" [(ngModel)]='user.email' placeholder="Email" style="height: -10%;"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input type="{{type}}" [(ngModel)]='user.senha' placeholder="Senha"  required pattern=".{3,10}"></ion-input>
      <!--<ion-input type="{{type}}" name="password" ngModel #password="ngModel"></ion-input>-->
      
      <button *ngIf="!showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="md-eye-off"></ion-icon></button>
      <button *ngIf="showPass" ion-button clear color="dark" type="button" item-right (click)="showPassword()"> <ion-icon name="md-eye"></ion-icon></button>
    </ion-item>

    <!--<ion-item class="ion-select">
      <ion-label>Gênero</ion-label>
      <ion-select [(ngModel)]='user.genero' interface="popover">
        <ion-option value="f" checked="true">Feminino</ion-option>
        <ion-option value="m">Masculino</ion-option>
        <ion-option value="o">Outros</ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="ion-select">
      <ion-label style="color: #949494;">Data de Nascimento</ion-label>
    </ion-item>
    <ion-item class="ion-select">
      <ion-label>Data</ion-label>
      <ion-select [(ngModel)]="data">
          <ion-option value="01" checked="true">1</ion-option>
          <ion-option value="02">2</ion-option>
          <ion-option value="03">3</ion-option>
          <ion-option value="04">4</ion-option>
          <ion-option value="05">5</ion-option>
          <ion-option value="06">6</ion-option>
          <ion-option value="07">7</ion-option>
          <ion-option value="08">8</ion-option>
          <ion-option value="09">9</ion-option>
          <ion-option value="10">10</ion-option>
          <ion-option value="11">11</ion-option>
          <ion-option value="12">12</ion-option>
          <ion-option value="13">13</ion-option>
          <ion-option value="14">14</ion-option>
          <ion-option value="15">15</ion-option>
          <ion-option value="16">16</ion-option>
          <ion-option value="17">17</ion-option>
          <ion-option value="18">18</ion-option>
          <ion-option value="19">19</ion-option>
          <ion-option value="20">20</ion-option>
          <ion-option value="21">21</ion-option>
          <ion-option value="22">22</ion-option>
          <ion-option value="23">23</ion-option>
          <ion-option value="24">24</ion-option>
          <ion-option value="25">25</ion-option>
          <ion-option value="26">26</ion-option>
          <ion-option value="27">27</ion-option>
          <ion-option value="28">28</ion-option>
          <ion-option value="29">29</ion-option>
          <ion-option value="30">30</ion-option>
          <ion-option value="31">31</ion-option>
      </ion-select>
      </ion-item>

      <ion-item style="padding-left: 14vw;">
      <ion-label>Mês</ion-label>
      <ion-select  [(ngModel)]="mes" interface="popover">
          <ion-option value="01" checked="true">Janeiro</ion-option>
          <ion-option value="02">Fevereiro</ion-option>
          <ion-option value="03">Março</ion-option>
          <ion-option value="04">Abril</ion-option>
          <ion-option value="05">Maio</ion-option>
          <ion-option value="06">Junho</ion-option>
          <ion-option value="07">Julho</ion-option>
          <ion-option value="08">Agosto</ion-option>
          <ion-option value="09">Setembro</ion-option>
          <ion-option value="10">Outubro</ion-option>
          <ion-option value="11">Novembro</ion-option>
          <ion-option value="12">Dezembro</ion-option>
        </ion-select>
      </ion-item>
      
      <ion-item style="padding-left: 14vw;"> 
        <ion-label>Ano</ion-label>
        <ion-select [(ngModel)]="ano" interface="popover">
          <ion-option>1989</ion-option>
          <ion-option>1990</ion-option>
          <ion-option>1991</ion-option>
          <ion-option checked="true">1992</ion-option>
          <ion-option>1993</ion-option>
          <ion-option>1994</ion-option>
          <ion-option>1995</ion-option>
          <ion-option>1996</ion-option>
          <ion-option>1997</ion-option>
          <ion-option>1998</ion-option>
          <ion-option>1999</ion-option>
        </ion-select>
    </ion-item>-->
  </ion-list>
  <ion-row>
    <ion-label class="label-error" *ngIf="error"> {{error}} </ion-label>
  </ion-row>
  <ion-buttons class="center">
    <button ion-button (click)="register(user)" class="pronto-button">Pronto</button>
  </ion-buttons>

<ion-footer class="ion-footer-shadow">
  <ion-toolbar>
      <ion-buttons>
        <button ion-button navPop class="text-transform"><span>Fechar</span></button>
      </ion-buttons>
  </ion-toolbar>
</ion-footer>

